


<ion-list>
  <ion-item (click)="onClick('Todo México')" detail>
    <ion-label>Todo México</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Distrito Federal')" detail>
    <ion-label>Distrito Federal</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Aguascalientes')" detail>
    <ion-label>Aguascalientes</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Baja California')" detail>
    <ion-label>Baja California</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Baja California Sur')" detail>
    <ion-label>Baja California Sur</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Campeche')" detail>
    <ion-label>Campeche</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Chihuahua')" detail>
    <ion-label>Chihuahua</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Chiapas')" detail>
    <ion-label>Chiapas</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Coahuila')" detail>
    <ion-label>Coahuila</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Colima')" detail>
    <ion-label>Colima</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Coahuila')" detail>
    <ion-label>Coahuila</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Durango')" detail>
    <ion-label>Durango</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Guanajuato')" detail>
    <ion-label>Guanajuato</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Guerrero')" detail>
    <ion-label>Guerrero</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Hidalgo')" detail>
    <ion-label>Hidalgo</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Jalisco')" detail>
    <ion-label>Jalisco</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Mexico')" detail>
    <ion-label>Mexico</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Michoacan')" detail>
    <ion-label>Michoacan</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Morelos')" detail>
    <ion-label>Morelos</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Nayarit')" detail>
    <ion-label>Nayarit</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Nuevo Léon')" detail>
    <ion-label>Nuevo Léon</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Oaxaca')" detail>
    <ion-label>Oaxaca</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Puebla')" detail>
    <ion-label>Puebla</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Queretaro')" detail>
    <ion-label>Queretaro</ion-label>
  </ion-item>
  <ion-item (click)="onClick('>Quintana Roo')" detail>
    <ion-label>Quintana Roo</ion-label>
  </ion-item>
  <ion-item (click)="onClick('San Luis Potosi')" detail>
    <ion-label>San Luis Potosi</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Sinaloa')" detail>
    <ion-label>Sinaloa</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Sonora')" detail>
    <ion-label>Sonora</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Tabasco')" detail>
    <ion-label>Tabasco</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Tamaulipas')" detail>
    <ion-label>Tamaulipas</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Tlaxcala')" detail>
    <ion-label>Tlaxcala</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Veracruz')" detail>
    <ion-label>Veracruz</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Yucatan')" detail>
    <ion-label>Yucatan</ion-label>
  </ion-item>
  <ion-item (click)="onClick('Zacatecas')" detail>
    <ion-label>Zacatecas</ion-label>
  </ion-item>
</ion-list>
